html {
  font-family: monospace;
}

body {
  background: #ffffff;
  color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  height: 100vh;
  align-items: center;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: 16px;
  margin: 35px 10px;
}

.group {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.group a {
  font-weight: 300;
}
a {
  font-size: 14px;
  color: whitesmoke;
  text-decoration: none;
  position: relative;
  border-bottom: 3px solid gold;
  font-weight: 600;
}

a:hover {
  border-bottom: 3px solid black;
}


.tiles {
  position: relative;
}

.tile {
  position: absolute;
  background: #000;
}

.tile:nth-child(1n) {
  background: #1abc9c;
}
.tile:nth-child(2n) {
  background: #2ecc71;
}
.tile:nth-child(3n) {
  background: #3498db;
}
.tile:nth-child(4n) {
  background: #9b59b6;
}
.tile:nth-child(5n) {
  background: #16a085;
}
.tile:nth-child(6n) {
  background: #27ae60;
}
.tile:nth-child(7n) {
  background: #2980b9;
}
.tile:nth-child(8n) {
  background: #8e44ad;
}
.tile:nth-child(9n) {
  background: #f1c40f;
}
.tile:nth-child(10n) {
  background: #e67e22;
}
.tile:nth-child(11n) {
  background: #e74c3c;
}
.tile:nth-child(12n) {
  background: #ecf0f1;
}
.tile:nth-child(13n) {
  background: #f39c12;
}
.tile:nth-child(14n) {
  background: #d35400;
}
.tile:nth-child(15n) {
  background: #c0392b;
}
.tile:nth-child(16n) {
  background: #bdc3c7;
}
