.lightmode {
	--background-l0: #ffffff;
	--background-l1: #e7e3dc;
	--background-l2: #f3f1ec;
	--background-disabled: #00000018;
	--background-success: #0f8534;
	--background-warn: #bf7c08;
	--background-failure: #ff4524;
	--background-brand-primary: #f5a312;
	--background-brand-secondary: #ffecbb;
	--background-action-primary: #18b4c7;
	--background-action-secondary: #32c8db44;
	--background-action-highlight: #3dd1e4;
	--text-primary: #000000ee;
	--text-secondary: #00000099;
	--text-tertiary: #00000055;
	--text-placeholder: #00000055;
	--text-disabled: #00000044;
	--text-success: #0f8534;
	--text-warn: #bf7c08;
	--text-failure: #ff4524;
	--text-header: #f5a312;
	--text-action-primary: #18b4c7;
	--text-action-secondary: #18b4c7;
	--text-action-highlight: #25c4d8;
	--text-brand-primary: #f5a312;
	--text-brand-secondary: #ffecbb;
	--text-over-brand-primary: #fff;
	--text-over-brand-secondary: #000;
	--text-over-action-primary: #fff;
	--text-over-action-secondary: #18b4c7;
	--text-over-action-highlight: #000000ee;
	--text-over-success: #fff;
	--text-over-warn: #fff;
	--text-over-failure: #fff;
	--text-over-disabled: #00000055;
	--icon-primary: #000000ee;
	--icon-secondary: #00000099;
	--icon-tertiary: #00000055;
	--icon-disabled: #00000044;
	--icon-success: #0f8534;
	--icon-warn: #bf7c08;
	--icon-failure: #ff4524;
	--icon-action-primary: #18b4c7;
	--icon-action-secondary: #18b4c7;
	--icon-brand-primary: #f5a312;
	--icon-brand-secondary: #ffecbb;
	--icon-over-brand-primary: #fff;
	--icon-over-brand-secondary: #000;
	--icon-over-action-primary: #fff;
	--icon-over-action-secondary: #18b4c7;
	--icon-over-action-highlight: #25c4d8;
	--icon-over-success: #fff;
	--icon-over-warn: #fff;
	--icon-over-failure: #fff;
	--icon-over-disabled: #00000055;
	--stroke-primary: #00000048;
	--stroke-secondary: #00000032;
	--stroke-tertiary: #00000018;
	--stroke-success: #0f8534;
	--stroke-warn: #bf7c08;
	--stroke-failure: #ff4524;
	--stroke-disabled: #00000018;
	--stroke-action-primary: #18b4c7;
	--stroke-action-secondary: #32c8db44;
	--stroke-action-highlight: #3dd1e4;
	--boxShadow-primary: rgba(0, 0, 0, 0.1);
	--radius-xs: 1px;
	--radius-sm: 1px;
	--radius-md: 1px;
	--radius-lg: 1px;
	--radius-xl: 1px;

	/* NFT-tool */
	--color-gray-100: #e0e0e0;
	--switch-color: #52b1c4;
	--background-white: #fbf9f6;
	--color-gray-transparent: rgba(0, 0, 0, 0.33);
	--text-gray: #aaa;
}

.darkmode {
	--background-l0: #1c1b21;
	--background-l1: #2e2b3c;
	--background-l2: #494361;
	--background-disabled: #e1e0e844;
	--background-success: #a0f3ba;
	--background-warn: #fcdc9c;
	--background-failure: #FF9B8;
	--background-brand-primary: #ffb32c;
	--background-brand-secondary: #ffecbb;
	--background-action-primary: #32c8db;
	--background-action-secondary: #32c8db22;
	--background-action-highlight: #38e9ff;
	--text-primary: #e1e0e8;
	--text-secondary: #e1e0e8d8;
	--text-tertiary: #e1e0e8a4;
	--text-placeholder: #e1e0e844;
	--text-disabled: #e1e0e8a4;
	--text-success: #a0f3ba;
	--text-warn: #fcdc9c;
	--text-failure: #FF9B8;
	--text-header: #ffb32c;
	--text-action-primary: #32c8db;
	--text-action-secondary: #32c8db;
	--text-action-highlight: #38e9ff;
	--text-brand-primary: #ffb32c;
	--text-brand-secondary: #ffecbb;
	--text-over-brand-primary: #fff;
	--text-over-brand-secondary: #000;
	--text-over-action-primary: #1c1b21;
	--text-over-action-secondary: #e1e0e8;
	--text-over-action-highlight: #1c1b21;
	--text-over-success: #fff;
	--text-over-warn: #fff;
	--text-over-failure: #fff;
	--text-over-disabled: #e1e0e8a4;
	--icon-primary: #e1e0e8;
	--icon-secondary: #e1e0e8d8;
	--icon-tertiary: #e1e0e8a4;
	--icon-disabled: #e1e0e8a4;
	--icon-success: #a0f3ba;
	--icon-warn: #fcdc9c;
	--icon-failure: #FF9B8;
	--icon-action-primary: #32c8db;
	--icon-action-secondary: #32c8db;
	--icon-brand-primary: #ffb32c;
	--icon-brand-secondary: #ffecbb;
	--icon-over-brand-primary: #fff;
	--icon-over-brand-secondary: #000;
	--icon-over-action-primary: #fff;
	--icon-over-action-secondary: #32c8db;
	--icon-over-action-highlight: #1c1b21;
	--icon-over-success: #fff;
	--icon-over-warn: #fff;
	--icon-over-failure: #fff;
	--icon-over-disabled: #e1e0e8a4;
	--stroke-primary: #e1e0e8d8;
	--stroke-secondary: #e1e0e8a4;
	--stroke-tertiary: #e1e0e844;
	--stroke-success: #a0f3ba;
	--stroke-warn: #fcdc9c;
	--stroke-failure: #FF9B8;
	--stroke-disabled: #e1e0e824;
	--stroke-action-primary: #32c8db;
	--stroke-action-secondary: #e1e0e844;
	--stroke-action-highlight: #38e9ff;
	--boxShadow-primary: #000000;
	--radius-xs: 1px;
	--radius-sm: 1px;
	--radius-md: 1px;
	--radius-lg: 1px;
	--radius-xl: 1px;

	/* NFT-tool */
	--color-gray-100: #e0e0e0;
	--switch-color: #52b1c4;
	--background-white: #fbf9f6;
	--color-gray-transparent: rgba(0, 0, 0, 0.33);
	--text-gray: #aaa;
}

body {
	margin: 0px;
	padding: 0px;
	background: #131115;
	font-family: 'DM Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-primary);
	background: var(--background-l0);
}

a {
	color: var(--text-action-primary);
}
a,
button,
code,
div,
p {
	font-family: 'DM Mono', monospace;
}

.clickable-border {
	border: 1px solid var(--stroke-tertiary);
	transition: border-color 120ms ease-out;
}
.clickable-border:hover {
	border: 1px solid var(--stroke-secondary);
}

/* Used parts of antd */

[class*='ant-']::-ms-clear,
[class^='ant-']::-ms-clear {
	display: none;
}
body,
html {
	width: 100%;
	height: 100%;
}
*,
::after,
::before {
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
	color: var(--text-primary);
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	font-variant: tabular-nums;
	line-height: 1.5715;
	background-color: var(--background-l0);
	font-feature-settings: 'tnum';
}
[tabindex='-1']:focus {
	outline: 0 !important;
}
b {
	font-weight: bolder;
}
a {
	text-decoration: none;
	background-color: transparent;
	outline: 0;
	cursor: pointer;
	transition: color 0.3s;
	-webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
	text-decoration: none;
	outline: 0;
}
a:focus {
	text-decoration: none;
	outline: 0;
}
a[disabled] {
	color: rgba(0, 0, 0, 0.25);
	cursor: not-allowed;
}
svg:not(:root) {
	overflow: hidden;
}
[role='button'],
a {
	touch-action: manipulation;
}
[type='reset'],
[type='submit'],
html [type='button'] {
	-webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}
[type='search'] {
	outline-offset: -2px;
	-webkit-appearance: none;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}
[hidden] {
	display: none !important;
}
::selection {
	color: var(--background-l1);
	background: #1890ff;
}